name: OpenSSF Scorecard Publish

on:
  push:
    branches: [main]
  pull_request:

permissions:
  security-events: write
  id-token: write
  contents: read
  issues: read
  pull-requests: read
  checks: read

jobs:
  run-scorecard:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run Scorecard
        uses: ossf/scorecard-action@v2.4.3
        with:
          results_file: scorecard-results.json
          publish_results: true
          results_format: sarif
