permissions:
  security-events: write
  id-token: write
  contents: read
  issues: read
  pull-requests: read
  checks: read
  
  name: OpenSSF Scorecard

on:
  push:
    branches: [main]

jobs:
  run-scorecard:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Run OpenSSF Scorecard
        uses: ossf/scorecard-action@v2.4.3
        with:
          results_file: scorecard-results.json

publish_results: true
results_format: sarif
